<%- include('header') -%> 

        <div class="container header">
            <h1><%= listTitle %></h1>
        </div>
        
        <div class="container container-md itemList">
            
            <% items.forEach( item => { %>
            <form action="/delete" method="post">   
                <div class="item row">
                    <input type="checkbox" class="col-auto form-check" name="checkbox" value="<%= item._id %>" onchange="this.form.submit();"><p class="col-auto"><%= item.name %></p>
                </div>
            </form> 
            <% }) %>   
            

            <form class="row g-2" action="/" method="post">
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="newItem" id="" autocomplete="off">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" name="list" value="<%= listTitle %>">Add Item</button>
                </div>
            </form>


        </div>


<%- include('footer') -%> 